{% extends "bootstrap/base.html" %}

{% block title %}项目签名{% endblock %}

{% block navbar %}
    <div class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for("manage_file") }}">项目列表</a></li>
                    <li><a href="{{ url_for("new_project_page") }}">添加项目</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        {% block page_content %}{% endblock %}
    </div>
{% endblock %}
